body{
    margin: 0;
    font-family: 'Plus Jakarta Sans' Arial, Helvetica, sans-serif;


}

h1{
    margin: 50px;
    display: flex;
    justify-content: center;
}   
.search-div{
    display: flex;
    justify-content: center;
}



.form-styling{

width: 700px; 
}

.input-styling{
    display: flex;
    justify-content: center;
}

.table-styling{
    margin-top: 20px;
}